absl-py
dill
dm-haiku
einops
flatbuffers
imageio
immutabledict
jaxline
numpy
opencv-python
opt-einsum
optax
Pillow
scipy
six
tabulate
tensorflow-cpu
tensorflow-addons
tensorflow-datasets
tensorflow-probability
jax
